.page {
  overflow: hidden;
  position: relative;
  z-index: 1;
  &__decor {
    position: absolute;
    width: 500px;
    z-index: -1;

    &--left {
      height: 1128px;
      left: -370px;
    }
    &--right {
      height: 1202px;
      right: -370px;
      bottom: 100px;
    }
  }
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__content {
    max-width: 1045px;
    width: 100%;
    margin-left: 30px;
    color: #3b3b3b;
    padding-bottom: 50px;
    h1,h2,h3,h4,h5,h6 {
      text-align: center;
      font-weight: 400;
    }
    h1 {
      font-size: 48px;
      font-weight: 700;
    }
    h2 {
      font-size: 30px;
      font-weight: 700;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 13px;
    }
    h6 {
      font-size: 11px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    div {
      padding-top: 27.3%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position:  center;
      margin-bottom: 25px;
    }
    table {
      width: 100%;
      text-align: center;
      color: #303030;
      margin-top: 45px;
      thead {
        td {
          font-weight: 700;
          font-size: 18px;
        }
      }
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #fffbf2;
          }
        }
        td {
          font-size: 16px;
          font-weight: 400;
          color: #303030;
          padding: 15px 5px;
        }
      }
    }
    blockquote {
      padding: 22px 22px 22px 90px;
      background-color: #fffefc;
      position: relative;
      font-size: 18px;
      line-height: 28px;
      max-width: 855px;
      width: 100%;
      margin: 0 auto 30px;
      &::before {
        content: '“';
        font-size: 90px;
        font-weight: 700;
        line-height: 70px;
        position: absolute;
        top: 23px;
        left: 22px;
        color: $color-accent;
      }
    }
    img {
      min-height: 150px;
      padding: 15px;
    }
    span {
      font-size: 14px;
      line-height: 16px;
      display: block;
      margin-top: 5px;
    }
    ul {
      font-size: 18px;
      line-height: 32px;
      list-style: disc;
      margin-bottom: 30px;
      li {
        list-style-position: inside;
        &::marker {
          color: $color-accent;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .page__inner {
    display: block;
  }
  .page__content {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .page__content h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .page__content h2 {
    font-size: 27px;
    line-height: 33px;
  }
  .page__content p {
    font-size: 16px;
    line-height: 23px;
  }
  .page__content ul {
    font-size: 16px;
    line-height: 23px;
  }
  .page__content img {
    width: 100%;
    padding: 0 0 10px;
  }
  .page__content blockquote {
    padding: 15px 15px 15px 70px;
    background-color: #fffefc;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    &::before {
      font-size: 80px;
      top: 15px;
      left: 15px;
    }
  }
  .page__content table {
    white-space: nowrap;
    display: block;
    text-align: left;
    tr, td {
      display: block;
      padding: 0;
    }
    tr {
      background-color: #fffbf2;
      margin-bottom: 25px;
    }
    tbody {
      width: 100%;
      display: block;
      td {
        border-bottom: 1px solid $color-bg;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        &::before {
          content: attr(data-label);
          font-weight: 700;
          margin-right: 10px;
          font-size: 14px;
        }
      }
    }
    thead {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .page__content blockquote {
    font-size: 14px;
    line-height: 20px;
    padding-left: 40px;
    &::before {
      font-size: 70px;
      top: 10px;
      left: 5px;
    }
    span {
      font-size: 10px;
    }
  }
  .page__content h1 {
    font-size: 30px;
    line-height: 31px;
  }
  .page__content h2 {
    font-size: 24px;
    line-height: 26px;
  }
  .page__content h3 {
    font-size: 22px;
  }
}
