aside.aside
  nav.aside__menu
    h3.aside__title Разделы
    ul.aside__menu-lst
      li.aside__menu-item.js-dropdown
        a(href="#").aside__menu-link Мёд
      ul.aside__menu-dropdown
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Медовые композиции
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Натуральный мёд
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Мёд натуральный жидкий
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Мёд натуральный кристаллизованный
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Крем мёд
      li.aside__menu-item
        a(href="#").aside__menu-link Продукты здоровья
      li.aside__menu-item.js-dropdown
        a(href="#").aside__menu-link Животные жиры
      ul.aside__menu-dropdown
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Медовые композиции
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Натуральный мёд
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Мёд натуральный жидкий
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Мёд натуральный кристаллизованный
        li.aside__menu-dropdown-item
          a(href="#").aside__menu-dropdown-link Крем мёд
  .aside__filter
    h3.aside__title Фильтр по цене
    input(type="range" data-min="1" data-max="5000" data-type="double" data-hide-min-max="true" data-from="1000" data-to="3500" data-prettify-enabled="false").aside__input.js-input-slider
