.top
  h2.top__title.title Каталог
  ul.breadcrumbs
    +breadcrumbs-item('Главная','#')
    +breadcrumbs-item('Каталог','#')
    +breadcrumbs-item('Мед','#')
    +breadcrumbs-item('Мед натуральный кристаллизованный')
