extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include pages/main/intro
	include pages/main/products
	include pages/main/advantages
	include pages/main/catalog
	include pages/main/documnets
