// Colors
$white: #fff;
$black: #000;
$color-bg: #27282a;
$color-accent: #b87e28;
$color-accent-light: #cd8f00;

$font-base: 'PF Agora Slab Pro', Arial, serif;
$font-gilroy: 'Gilroy', Arial, serif;
// Sizes
$base-font-size: 18px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
