section.advantages
  .advantages__bg(data-bg="static/images/content/advantages/advantages-bg.jpg" data-bg-webp="static/images/content/advantages/advantages-bg.webp")
    .container
      .advantages__inner
        .advantages__items
          .advantages__item
            +icon('advantages-1', 'advantages__item-icon')
            h3.advantages__item-title.title.title--is-decor.title--small Собственные пасеки
            span.advantages__item-text Объединение из 5 кооперативов, специализирующихся на разных видах меда
          .advantages__item
            +icon('advantages-2', 'advantages__item-icon')
            h3.advantages__item-title.title.title--is-decor.title--small Мы дорожим клиентами
            span.advantages__item-text Действуют гибкие условия для оптовых клиентов
          .advantages__item
            +icon('advantages-3', 'advantages__item-icon')
            h3.advantages__item-title.title.title--is-decor.title--small Гарантия качества
            span.advantages__item-text Наш мед занял 3 место в рейтинге Роскачество
        .advantages__items
          .advantages__item
            +icon('advantages-4', 'advantages__item-icon')
            h3.advantages__item-title.title.title--is-decor.title--small Постоянные скидки и акции
            span.advantages__item-text У нас всегда есть интересные предложения для вас!
          .advantages__item
            +icon('advantages-5', 'advantages__item-icon')
            h3.advantages__item-title.title.title--is-decor.title--small Эксперты на рынке
            span.advantages__item-text У нас покупают даже опытные пчеловоды
        .advantages__items
          .advantages__item
            +icon('advantages-6', 'advantages__item-icon')
            h3.advantages__item-title.title.title--is-decor.title--small Опыт более 10 лет
            span.advantages__item-text Успешно производим и продаем уже много лет
          .advantages__item
            +icon('advantages-7', 'advantages__item-icon')
            h3.advantages__item-title.title.title--is-decor.title--small Гибкая система доставки
            span.advantages__item-text Вы можете заказать доставку по всей стране или забрать прямо у нас в офисе
