section.catalogs
  .container
    h2.catalogs__title.title Каталог
    .catalogs__row
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-1', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд Дикий Таёжный
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 28817 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-2', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд Дикий Цветочный
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 14890 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-3', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд с Имбирем
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 21337 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-1', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд с Черникой
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 19200 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-1', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд Дикий Таёжный
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 28817 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-2', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд Дикий Цветочный
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 14890 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-3', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд с Имбирем
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 21337 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
      .catalog
        .catalog__head
          a(href="#").catalog__link
            +picture('static/images/content/products', 'product-1', ['webp', 'png'], 'catalog__image')
          a(href="#").title.title--small.title--is-decor.catalog__title Мёд с Черникой
        .catalog__footer
          .catalog__controls
            .catalog__control
              span.catalog__control-text Вес
              select
                option(value="1") 250 гр
                option(value="2") 500 гр
                option(value="3") 1 кг
            .catalog__control
              span.catalog__control-text Количество
              .counter.catalog__counter
                button.counter__btn(data-direction="minus") -
                input(value="25" disabled).counter__input
                button.counter__btn(data-direction="plus") +
          .catalog__info
            strong.price.catalog__price 19200 ₽
            a(href="#").catalog__btn.btn.btn--small
              span.btn__control
                span.btn__text Добавить в корзину
    .catalogs__bottom
      a(href="#").catalogs__btn.btn
        +picture('static/images/common', 'btn-image', ['webp', 'png'], 'btn__image')
        span.btn__control
          span.btn__text Открыть весь каталог
