section.documents
  .container
    h2.title.documents__title Наши документы
    .documents__slider
      .documents__slide
        .documents__inner
          .documents__image(data-bg="static/images/content/documents/document-1.png" data-bg-webp="static/images/content/documents/document-1.webp")
          .documents__content
            .documents__counter
              strong.documents__number 01
              span.documents__number.documents__number--small / 02
            h3.title.title--left.title--is-decor.title--small.documents__subtitle Сертификат соответствия
            .documents__text
              p Сертификат соответствия или как его еще называют сертификат качества, это не просто бумажка разрешающая реализацию продукции, а в первую очередь, это документ подтверждающий соответствие установленным нормам безопасности и качества для определенного вида товара. В нашей стране, да и во всём мире производится огромное количество разнообразных товаров, которые в свою очередь могут, так или иначе воздействовать, как окружающую среду, так и на людей. Процесс подтверждающий соответствие этим стандартам называется – сертификацией, а документом удостоверяющим о соответствии качеству является - сертификат соответствия.
      .documents__slide
        .documents__inner
          .documents__image(data-bg="static/images/content/documents/document-1.png" data-bg-webp="static/images/content/documents/document-1.webp")
          .documents__content
            .documents__counter
              strong.documents__number 02
              span.documents__number.documents__number--small / 02
            h3.title.title--left.title--align-left.title--is-decor.title--small.documents__subtitle Сертификат соответствия
            .documents__text
              p Сертификат соответствия или как его еще называют сертификат качества, это не просто бумажка разрешающая реализацию продукции, а в первую очередь, это документ подтверждающий соответствие установленным нормам безопасности и качества для определенного вида товара. В нашей стране, да и во всём мире производится огромное количество разнообразных товаров, которые в свою очередь могут, так или иначе воздействовать, как окружающую среду, так и на людей. Процесс подтверждающий соответствие этим стандартам называется – сертификацией, а документом удостоверяющим о соответствии качеству является - сертификат соответствия. – сертификацией, а документом удостоверяющим о соответствии качеству является - сертификат соответствия.
    .documents__arrows.documents__arrows--mobile
