section.intro
  .intro__bg(data-bg="static/images/content/intro/intro-bg.jpg" data-webp-bg="static/images/content/intro/intro-bg.jpg")
    .container
      .intro__inner
        .intro__content
          h1.intro__title Натуральный мёд
          p.intro__text Натуральный мёд оптом напрямую с пасеки. Доставка во все регионы России, Казахстана и другие страны. Быстрая отгрузка. Низкие цены. Высокое качество. 95% наших зазкачиков становятся постоянными.
          a(href="#").intro__btn.btn
            +picture('static/images/common', 'btn-image', ['webp', 'png'], 'btn__image')
            span.btn__control
              span.btn__text Смотреть продукцию
        .intro__image
          +picture('static/images/content/intro', 'intro-image', ['webp', 'png'], '')
