section.products
  +icon('decor-left', 'products__decor products__decor--left')
  +icon('decor-right', 'products__decor products__decor--right')
  .container
    h2.title.products__title Товары дня
    .products__slider
      .products__slide
        .product
          .product__head
            a(href="#").product__link
              +picture('static/images/content/products', 'product-1', ['webp', 'png'], 'product__image')
            a(href="#").product__title.title.title--small.title--is-decor Мёд с Имбирём
            span.product__desc Мёд дикий - это нектар с большого множества растений. Вся сила природы сосредоточена в этом великолепном меде! Янтарного цвета, очень вкусный.
          .product__footer
            .product__info
              strong.product__price.price 581 ₽ / кг
              a(href="#").product__basket
                +icon('cart', 'product__icon')
      .products__slide
        .product
          .product__head
            a(href="#").product__link
              +picture('static/images/content/products', 'product-2', ['webp', 'png'], 'product__image')
            a(href="#").product__title.title.title--small.title--is-decor Мёд Дикий Таёжный
            span.product__desc Мёд дикий - это нектар с большого множества растений. Вся сила природы сосредоточена в этом великолепном меде! Янтарного цвета, очень вкусный.
          .product__footer
            .product__info
              strong.product__price.price 581 ₽ / кг
              a(href="#").product__basket
                +icon('cart', 'product__icon')
      .products__slide
        .product
          .product__head
            a(href="#").product__link
              +picture('static/images/content/products', 'product-3', ['webp', 'png'], 'product__image')
            a(href="#").product__title.title.title--small.title--is-decor Мёд с Черникой
            span.product__desc Мёд дикий - это нектар с большого множества растений. Вся сила природы сосредоточена в этом великолепном меде! Янтарного цвета, очень вкусный.
          .product__footer
            .product__info
              strong.product__price.price 581 ₽ / кг
              a(href="#").product__basket
                +icon('cart', 'product__icon')
      .products__slide
        .product
          .product__head
            a(href="#").product__link
              +picture('static/images/content/products', 'product-1', ['webp', 'png'], 'product__image')
            a(href="#").product__title.title.title--small.title--is-decor Мёд Дикий Таёжный
            span.product__desc Мёд дикий - это нектар с большого множества растений. Вся сила природы сосредоточена в этом великолепном меде! Янтарного цвета, очень вкусный.
          .product__footer
            .product__info
              strong.product__price.price 581 ₽ / кг
              a(href="#").product__basket
                +icon('cart', 'product__icon')
      .products__slide
        .product
          .product__head
            a(href="#").product__link
              +picture('static/images/content/products', 'product-2', ['webp', 'png'], 'product__image')
            a(href="#").product__title.title.title--small.title--is-decor Мёд Дикий Таёжный
            span.product__desc Мёд дикий - это нектар с большого множества растений. Вся сила природы сосредоточена в этом великолепном меде! Янтарного цвета, очень вкусный.
          .product__footer
            .product__info
              strong.product__price.price 581 ₽ / кг
              a(href="#").product__basket
                +icon('cart', 'product__icon')
      .products__slide
        .product
          .product__head
            a(href="#").product__link
              +picture('static/images/content/products', 'product-3', ['webp', 'png'], 'product__image')
            a(href="#").product__title.title.title--small.title--is-decor Мёд с Черникой
            span.product__desc Мёд дикий - это нектар с большого множества растений. Вся сила природы сосредоточена в этом великолепном меде! Янтарного цвета, очень вкусный.
          .product__footer
            .product__info
              strong.product__price.price 581 ₽ / кг
              a(href="#").product__basket
                +icon('cart', 'product__icon')
