section.reviews
  .container
    h2.title.reviews__title Отзывы
    .reviews__slider
      .reviews__slide
        .review
          +icon('decor-right', 'review__decor')
          .review__head
            .review__image(data-bg="http://csshexagon.com/img/meow.jpg" data-bg-webp="http://csshexagon.com/img/meow.jpg")
            a(href="#").review__title.title.title--small.title--is-decor Иванов Геннадий
            span.review__desc Мед - полезный биологически активный продукт, настоящая находка для тех, кто любит и ценит многофункциональные народные средства. Для меня это не только вкусный полезный продукт, но и подручное средство по уходу за волосами. Наряду с касторкой - это неизменное средство "красоты", которое всегда есть в моем домашнем уходовом арсенале.
          .review__footer
            span.review__info г. Псков
      .reviews__slide
        .review
          +icon('decor-right', 'review__decor')
          .review__head
            .review__image(data-bg="http://csshexagon.com/img/meow.jpg" data-bg-webp="http://csshexagon.com/img/meow.jpg")
            a(href="#").review__title.title.title--small.title--is-decor Светлана Парфёнова
            span.review__desc Мед - полезный биологически активный продукт, настоящая находка для тех, кто любит и ценит многофункциональные народные средства.
          .review__footer
            span.review__info г. Петрозаводск
      .reviews__slide
        .review
          +icon('decor-right', 'review__decor')
          .review__head
            .review__image(data-bg="http://csshexagon.com/img/meow.jpg" data-bg-webp="http://csshexagon.com/img/meow.jpg")
            a(href="#").review__title.title.title--small.title--is-decor Светлана Парфёнова
            span.review__desc Мед - полезный биологически активный продукт, настоящая находка для тех, кто любит и ценит многофункциональные народные средства. кто любит и ценит многофункциональные народные средства.
          .review__footer
            span.review__info г. Москва
      .reviews__slide
        .review
          +icon('decor-right', 'review__decor')
          .review__head
            .review__image(data-bg="http://csshexagon.com/img/meow.jpg" data-bg-webp="http://csshexagon.com/img/meow.jpg")
            a(href="#").review__title.title.title--small.title--is-decor Иванов Геннадий
            span.review__desc Мед - полезный биологически активный продукт, настоящая находка для тех, кто любит и ценит многофункциональные народные средства. Для меня это не только вкусный полезный продукт, но и подручное средство по уходу за волосами. Наряду с касторкой - это неизменное средство "красоты", которое всегда есть в моем домашнем уходовом арсенале.
          .review__footer
            span.review__info г. Псков
      .reviews__slide
        .review
          +icon('decor-right', 'review__decor')
          .review__head
            .review__image(data-bg="http://csshexagon.com/img/meow.jpg" data-bg-webp="http://csshexagon.com/img/meow.jpg")
            a(href="#").review__title.title.title--small.title--is-decor Светлана Парфёнова
            span.review__desc Мед - полезный биологически активный продукт, настоящая находка для тех, кто любит и ценит многофункциональные народные средства.
          .review__footer
            span.review__info г. Петрозаводск
      .reviews__slide
        .review
          +icon('decor-right', 'review__decor')
          .review__head
            .review__image(data-bg="http://csshexagon.com/img/meow.jpg" data-bg-webp="http://csshexagon.com/img/meow.jpg")
            a(href="#").review__title.title.title--small.title--is-decor Светлана Парфёнова
            span.review__desc Мед - полезный биологически активный продукт, настоящая находка для тех, кто любит и ценит многофункциональные народные средства. кто любит и ценит многофункциональные народные средства.
          .review__footer
            span.review__info г. Москва
