header { flex: 0 0 auto; }
.logo {
   &--margin {
     margin: -70px 0px -70px 0;
   }
  &__link {
    display: block;
  }
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: all linear .2s;
  &__top {
    font-family: $font-gilroy;
    background-color: #fefaf4;
    font-weight: 500;
    &-inner {
      display: flex;
      align-items: center;
      padding: 15px 0;
      max-width: 1230px;
      width: 100%;
      margin-left: auto;
      justify-content: space-between;
    }
  }
  &__menu {
    margin-right: 95px;
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      margin-left: 45px;
      &:first-child {
        margin-left: 0;
      }
    }
    &-link {
      transition: all linear .2s;
      font-weight: 500;
      font-size: 14px;
      &:hover {
        color: $color-accent;
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    &-link {
      margin: 0 11.5px;
    }
    &-icon {
      &.icon-fb {
        width: 8px;
        height: 15px;
      }
      &.icon-vk {
        width: 17px;
        height: 11px;
      }
      &:hover {
        fill: $color-accent;
      }
    }
  }
  &__info {
    line-height: 1;
    margin-left: 25px;
    font-size: 14px;
    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    &-phone {
      display: flex;
      align-items: center;
      margin-right: 15px;
      white-space: nowrap;
      transition: all linear .2s;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $color-accent;
        .header__info-icon {
          fill: $color-accent;
        }
      }
    }
    &-icon {
      width: 14px;
      height: 14px;
      margin-right: 10px;
      flex-shrink: 0;
    }
    &-bottom {
      text-align: right;
    }
    &-link {
      text-transform: uppercase;
      font-size: 12px;
      text-align: left;
      text-decoration: underline;
      color: $color-accent-light;
    }
  }
  &__bottom {
    background-color: $color-bg;
    color: $white;
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 1440px) {
  .header__top-inner {
    max-width: calc(100% - 170px);
  }
  .header__menu-item {
    margin-left: 35px;
  }
  .header__menu {
    margin-right: 40px;
  }
  .header__info {
    margin-left: 10px;
  }
}
@media (max-width: 1300px) {
  .logo {
    max-width: 115px;
  }
  .header__top-inner {
    max-width: calc(100% - 125px);
  }
  .search {
    margin-right: 20px;
  }
}
@media (max-width: 1250px) {
  .header__info-top {
    display: block;
    margin-bottom: 0;
  }
  .header__info-phone {
    margin-right: 0;
    margin-bottom: 5px;
    justify-content: flex-end;
  }
}
@media (max-width: 1130px) {
  .header__socials {
    display: none;
  }
  .search {
    margin-right: auto;
  }
  .logo {
    max-width: 100px;
  }
  .logo--margin {
    margin: -40px 0;
  }
  .header__top-inner {
    max-width: calc(100% - 100px);
  }
}
@media (max-width: 1000px) {
  .header__inner {
    padding: 10px 0;
  }
  .header__top-inner {
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .search{
    display: none;
  }
}
@media (max-width: 800px) {
  .header__menu {
    margin-right: 10px;
  }
}
@media (max-width: 670px) {
  .header__menu-item {
    margin-left: 20px;
  }
}
@media (max-width: 650px) {
  .header__menu {
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid $white;
    &-list {
      justify-content: center;
    }
    &-link {
      font-size: 16px;
      border-bottom: 1px solid $white;
    }
  }
  .header__info {
    text-align: center;
    margin-left: 0;
    padding-top: 20px;
    border-top: 1px solid $white;
    font-size: 16px;
    &-phone {
      justify-content: center;
      margin-bottom: 10px;
    }
    &-bottom {
      text-align: center;
    }
    &-link {
      font-size: 14px;
      margin-bottom: 20px;
    }
    &-icon {
      fill: $white;
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }

}
@media (max-width: 450px) {
  .header__menu-link {
    font-size: 14px;
  }
  .menu__link {
    font-size: 14px;

  }
  .header__menu-list {
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 420px) {
  .header__menu-list {
    padding: 0;
  }
  .header__menu-item {
    width: 50%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
